
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url($bg-image-top-desktop);
    background-repeat: no-repeat;
    background-position: top;
    font-family: $font;
}
