footer {
    @include display-row;
    align-items: center;
    justify-content: center;
    margin: 5em 0em;
    background-color: $grayish-light-blue;
    .footer-logo {
        transform: scale(0.5);
    }
}

.info {
    @include display-column;
    margin: 3em 3em;
    a {
        margin: 10px 0;
    }
    .install {
        margin-bottom: 3em;
    }
}

a {
    color: $dark-grayish-blue;
    text-decoration: none;
}

a:hover {
    color: $light-cyan;
}

.social-media{
   margin-left: 15em;

   .icon-social {
       font-size: 25px;
       margin: 8px;
   }

}

@media only screen and (max-width: $max-width) {
    footer {
        @include display-column;
        
    }

    .info {
        margin: 0;
        text-align: center;
    
    }

    .social-media {
        margin-left: 0;
        padding-bottom: 2em;
    }

}

.author{
    text-align: center;
    padding-bottom: 2em;
}