/*Primary*/

$strong-cyan: hsl(171, 66%, 44%);
$light-cyan: hsl(171, 51%, 60%);

$light-blue: hsl(233, 100%, 69%);
$lighter-blue: hsl(233, 68%, 75%);

/*Neutral*/

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$grayish-light-blue: hsl(210, 12%, 97%);
